<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">

                <form method="post" id="form-changepassword">
                    <div class="card bg-light text-dark form-changepassword" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <div class="mb-md-5 mt-md-4 ">

                                <h2 class="fw-bold mb-2 text-uppercase">Đổi mật khẩu</h2>
                                {{#if success}}
                                <div class="alert alert-success">
                                    <strong>{{success}}</strong>
                                </div>
                                {{/if}}
                                {{#if err}}
                                <div class="alert alert-danger">
                                    <strong>{{err}}</strong>
                                </div>
                                {{/if}}

                                {{#if msg}}
                                <div class="alert alert-warning">
                                    <strong>{{msg}}</strong>
                                </div>
                                {{/if}}

                                {{#if firstTime}}
                                <div style="display: none;" class="form-outline form-white mb-4 field-current-password">
                                    <label class="form-label" for="currentpassword">Mật khẩu hiện tại</label>
                                    <input type="password" id="currentpassword" name="currentpassword" style="text-align:center"
                                        class="form-control form-control-lg" />
                                    <span class="form-message text-danger invalid"></span>
                                </div>
                                {{else}}
                                <div class="form-outline form-white mb-4 field-current-password">
                                    <label class="form-label" for="currentpassword">Mật khẩu hiện tại</label>
                                    <input type="password" id="currentpassword" name="currentpassword" style="text-align:center"
                                        class="form-control form-control-lg" />
                                    <span class="form-message text-danger invalid"></span>
                                </div>
                                {{/if}}

                                <div class="form-outline form-white mb-4">
                                    <label class="form-label" for="password">Mật khẩu mới</label>
                                    <input type="password" id="password" name="password" style="text-align:center"
                                        class="form-control form-control-lg" />
                                    <span class="form-message text-danger invalid"></span>
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <label class="form-label" for="repassword">Nhập lại mật khẩu</label>
                                    <input type="password" id="repassword" name="repassword" style="text-align:center"
                                        class="form-control form-control-lg" />
                                    <span class="form-message text-danger invalid"></span>
                                </div>

                                <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="/user/login">Đăng nhập?</a>
                                </p>

                                <button class="btn form-changepassword-btn btn-lg px-5" type="submit">Đổi mật
                                    khẩu</button>

                            </div>

                            <div>
                                <p class="mb-0">Bạn chưa có tài khoản? <a href="#!" class="text-white-50 fw-bold">Đăng
                                        kí</a>
                                </p>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>