<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-light text-dark form-login" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 ">

                            <h2 class="fw-bold mb-2 text-uppercase">Quên mật khẩu</h2>
                            {{#if err}}
                            <div class="alert alert-danger">
                                <strong>{{err}}</strong>
                            </div>
                            {{/if}}
                            {{#if success}}
                            <div class="alert alert-success">
                                <strong>{{success}}</strong>
                            </div>
                            {{/if}}

                            {{#if verifyOTP}}
                            <form action="/user/forgotpassword/confirmOTP" method="post" id="form-checkOTP">
                                <div class="form-outline form-white mb-4">
                                    <label class="form-label" for="OTP">OTP</label>
                                    <input type="text" id="OTP" name="OTP" style="text-align:center" class="form-control form-control-lg" />
                                    <span class="form-message text-danger invalid"></span>
                                </div>

                                <button class="btn form-login-btn  mt-2" type="submit">Xác nhận</button>
                            </form>
                            {{else}}
                            <form method="post" id="form-checkInfo">
                                <div class="form-outline form-white mb-4">
                                    <label class="form-label" for="email">Email</label>
                                    <input type="text" id="email" name="email" style="text-align:center" class="form-control form-control-lg" />
                                    <span class="form-message text-danger invalid"></span>
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <label class="form-label" for="phone">Số điện thoại</label>
                                    <input type="text" id="phone" name="phone" style="text-align:center" class="form-control form-control-lg" />
                                    <span class="form-message text-danger invalid"></span>
                                </div>

                                <button class="btn form-login-btn  mt-2" type="submit">Gửi mã tới email của bạn</button>

                            </form>
                            {{/if}}

                        </div>

                        <div>
                            <p class="mb-0">Bạn chưa có tài khoản? <a href="#!" class="text-white-50 fw-bold">Đăng
                                    kí</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>