<section class="vh-100 gradient-custom">
    <div class="header-home d-flex justify-content-center bg-light">
        <h1 class="txt-title">M0M0 Ví điện tử số hai Việt Nam</h1>
    </div>

    <div class="container container-home bg-light mt-5 rounded">
        <div class="container container-home bg-light mt-5 rounded">
            <div class="row">
                <div class="col col-lg-5.5 col-sm-5.5">
                    <h1 class="text-center">Chuyển - Nhận Tiền</h1>
                    <ul class="list-group list-group-flush" style="font-size: 10px;">
                        <li class="list-group-item"><i
                                class="fa-solid fa-circle-check"></i>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Phí
                            chuyển chỉ 5%
                        </li>
                        <li class="list-group-item"><i
                                class="fa-solid fa-circle-check"></i>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Chuyển
                            tiền nhanh
                            bằng số
                            điện thoại</li>
                        <li class="list-group-item"><i
                                class="fa-solid fa-circle-check"></i>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Chỉ mất
                            1s để
                            nhận tiền
                        </li>

                    </ul>
                    <center>
                        <a href="/send" class="btn btn-home btn-sm my-3">Chuyển tiền ngay</a>
                    </center>
                </div>
                <div class="col col-lg-1 col-sm-1 d-flex justify-content-center">
                    <div class="gradient-custom" style="width: 5px; height: 100%;">

                    </div>
                </div>
                <div class="col col-lg-5.5 col-sm-5.5 ">
                    <h1 class=" text-center">Mua thẻ di động</h1>

                    <ul class="list-group list-group-flush" style="font-size: 10px;">
                        <li class="list-group-item"><i class="fa-solid fa-circle-check"></i>
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Hoàn
                            toàn miễn
                            phí
                        </li>
                        <li class="list-group-item"><i class="fa-solid fa-circle-check"></i>
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Đầy đủ
                            các nhà
                            mạng ở
                            Việt
                            Nam</li>
                        <li class="list-group-item"><i class="fa-solid fa-circle-check"></i>
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Chỉ
                            cần 3G không
                            cần
                            đi đâu
                            xa
                        </li>
                        <center>
                            <a href="/card" class="btn btn-home btn-sm my-3">Mua thẻ ngay</a>
                        </center>
                    </ul>
                </div>

            </div>
            <div class="row">
                <div class="col col-lg-12 text-center mt-3">
                    <a href="/user/register" style="color: black">Đăng kí</a> ngay để sử dụng dịch vụ
                </div>
            </div>
            <hr>
        </div>


</section>